.face {
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
  width: 1000px;
  height: 400px;
  min-width: 300px;
  box-sizing: border-box;
  color: #2196F3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../img/1500974132_wwalls.ru-60062.jpg");
}
.face__text {
  margin: 0 auto;
  padding: 10px;
  text-shadow: white 0 0 5px;
}
.face__button {
  position: absolute;
  top: 372px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  background-color: #122e68;
  border: #2196F3 solid 2px;
  height: 42px;
  text-decoration: none;
  border-radius: 10px;
  color: white;
}
.face__button:visited {
  color: white;
}
.face__button:active {
  color: white;
}
.face__button:hover {
  color: #2196F3;
}
.face__button__text {
  width: auto;
  padding: 12px;
}
@media (max-width: 1167px) {
  .face {
    width: 100%;
  }
}
@media (max-width: 610px) {
  .face {
    height: 330px;
  }
  .face__text {
    padding-bottom: 3px;
    font-size: 22px;
  }
  .face__button {
    top: 302px;
  }
}
@media (max-width: 440px) {
  .face {
    height: 280px;
  }
  .face__text {
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 20px;
    width: 240px;
  }
  .face__button {
    top: 262px;
  }
}
.two {
  padding: 0;
}
@media (max-width: 360px) {
  .face {
    height: 250px;
  }
  .face__text {
    padding: 6.5px;
  }
  .one {
    display: none;
  }
}
@media (max-width: 300px) {
  .face__button {
    margin: 0 50px;
  }
}
