.m-calendar {
  display: inline-block;
}
.m-calendar table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.m-calendar td {
  padding: 5px 0 ;
  text-align: center;
  cursor: pointer;
  color: #dfe0e4;
  border: 1px solid #dfe0e4;
}
.m-calendar thead td {
  padding: 5px 0 !important;
  color: #1385e5;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.m-calendar tbody td {
  padding: 5px 0 !important;
  color: #666666;
}
.m-calendar tbody td:hover {
  background: #1385e5;
  border-color: #1385e5;
  color: #ffffff;
}
.m-calendar .current-day {
  color: #1385e5;
  font-weight: bold;
  padding: 5px 0 !important;
}
.m-calendar .prev-month,
.m-calendar .next-month {
  padding: 5px 0 !important;
  color: #999999;
}
.m-calendar .toolbar {
  line-height: 20px;
  color: #1385e5;
  text-align: center;
  margin-bottom: 13px;
}
.m-calendar .toolbar button {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  border: 1px solid #1385e5;
  border-radius: 50%;
  background: #1385e5;
  font-size: 20px;
  padding: 0;
  text-align: center;
  outline: 0;
  z-index: 5;
  cursor: pointer;
}
.m-calendar .toolbar .prev-month {
  float: left;
}
.m-calendar .toolbar .next-month {
  float: right;
}
.m-calendar .toolbar .current-date {
  color: #1385e5;
}
