@font-face {
  font-family: "Proba Pro";
  src: url('../../../fonts/ProbaPro/ProbaPro-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('../../../fonts/ProbaPro/ProbaPro-Regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
.group {
  width: 32%;
  max-width: 280px;
  min-width: 240px;
  height: 300px;
  margin: 10px;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border-radius: 20px;
  text-align: left;
  overflow-y: scroll;
  /* ie 10+ */
  -ms-overflow-style: none;
  /* фф (свойство больше не работает, других способов тоже нет)*/
  overflow: -moz-scrollbars-none;
}
.group::-webkit-scrollbar {
  width: 0;
}
.group__img {
  width: 100%;
  height: 40%;
  background: no-repeat center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.group__info {
  text-align: left;
  color: #5b5b5b;
  padding: 0 10px 10px 10px;
}
.group__info__name {
  margin: 5px 0;
  font-weight: bold;
  font-size: 22px;
}
.group__info__users__button {
  text-decoration: underline;
  cursor: pointer;
}
