.about {
  margin: 0 auto;
  width: 1000px;
  min-width: 300px;
  box-sizing: border-box;
  color: #122e68;
  font-family: 'Comfortaa', cursive;
}
.about__title {
  margin: 35px 0;
  text-shadow: white 0 0 10px;
}
.about__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about__list__item {
  width: 30%;
  padding: 15px;
}
.about__list__item__text {
  margin: 15px;
  font-size: 16px;
  color: #5b5b5b;
  text-shadow: white 0 0 10px;
}
.about__list__item__img {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 210px;
  border-radius: 100%;
  box-shadow: 0 0 10px 10px #e5e9fe;
}
@media (max-width: 980px) {
  .about__list__item__text {
    margin: 10px 5px;
    font-size: 16px;
  }
}
@media (max-width: 896px) {
  .about__list__item__text {
    margin: 5px;
    font-size: 14px;
  }
  .about__list__item__img {
    height: 26vw;
  }
}
@media (max-width: 1167px) {
  .about {
    width: 100%;
  }
}
@media (max-width: 630px) {
  .about__list__item {
    width: 48%;
  }
  .about__list__item__text {
    margin: 15px;
    font-size: 16px;
  }
  .about__list__item__img {
    height: 40vw;
  }
}
@media (max-width: 510px) {
  .about__list__item__text {
    margin: 10px 5px;
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .about__list__item {
    width: 98%;
  }
  .about__list__item__text {
    margin: 15px;
    font-size: 16px;
  }
  .about__list__item__img {
    height: 88vw;
  }
}
