.login {
  min-height: calc(100vh - 150px);
  margin: 0 auto;
  width: 1000px;
  min-width: 300px;
  box-sizing: border-box;
  color: #5b5b5b;
  font-family: 'Comfortaa', cursive;
}
.login__title {
  font-size: 35px;
  margin: 50px;
  color: #122e68;
  font-weight: bold;
  text-shadow: white 0 0 10px;
}
.login__text {
  margin: 10px 100px;
  font-size: 17px;
  font-weight: bold;
  text-shadow: white 0 0 10px;
}
.login__button {
  width: 200px;
  height: 30px;
  text-decoration: none;
  color: white;
}
.login__button:visited {
  color: white;
}
.login__button:active {
  color: white;
}
.login__button:hover {
  color: #2196F3;
}
.login__button__text {
  border: #2196F3 solid 2px;
  padding: 11px 0 0;
  background-color: #122e68;
  border-radius: 10px;
  margin: auto;
  width: 280px;
  height: 30px;
}
.login__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.login__list__button {
  z-index: 1;
  overflow: hidden;
  margin: 20px 5px;
  width: 80px;
  height: 80px;
  background-color: unset;
  color: #cfcfe1;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), /* Exterior Shadow */ inset 0 1px rgba(255, 255, 255, 0.3), /* Top light Line */ inset 0 10px rgba(255, 255, 255, 0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255, 255, 255, 0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  /* Dark Background */
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  outline: none;
}
.login__list__button:hover {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.login__list__button__image {
  z-index: -1;
  width: 78px;
  height: 78px;
  position: relative;
  left: -10px;
  top: -11px;
  vertical-align: middle;
}
@media (max-width: 1167px) {
  .login {
    width: 100%;
  }
}
@media (max-width: 860px) {
  .login__text {
    margin: 10px;
  }
}
@media (max-width: 650px) {
  .login__title {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .login__title {
    margin: 15px;
  }
  .login__list__button {
    width: 62px;
    height: 62px;
  }
  .login__list__button__image {
    width: 60px;
    height: 60px;
  }
}
