.header {
  height: 72px;
  margin: 0 auto;
  width: 80%;
  min-width: 300px;
  box-sizing: border-box;
  color: #2196F3;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: space-between;
  border-bottom: #d9d9d9 1px solid;
}
.header__text {
  margin: 0;
  padding: 15px 5%;
  font-weight: bold;
  font-size: 42px;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.header__menu__item {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 10px;
}
.header__menu__item:hover {
  border-bottom: #2196F3 2px solid;
}
.header__menu__item__link {
  text-decoration: none;
}
.header__menu__item__link:visited {
  color: #2196F3;
  /* Цвет посещенных ссылок */
}
.header__menu__item__link:active {
  color: #2196F3;
  /* Цвет активных ссылок */
}
.header__button {
  display: none;
  padding: 20px;
}
@media (max-width: 850px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header__menu {
    background-color: white;
    visibility: collapse;
    position: absolute;
    right: 0;
    top: 72px;
    display: block;
    width: 100%;
  }
  .header__menu__item {
    border-bottom: #d9d9d9 1px solid;
  }
  .header__button {
    display: block;
  }
  .header__button:focus + .header__menu {
    visibility: visible;
  }
}
