@import "../../shared";

.footer {
  height: 72px;
  margin: 10px auto 0 auto;
  width: 80%;
  min-width: 300px;
  box-sizing: border-box;
  color: @text_color;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: space-between;
  border-top: #d9d9d9 1px solid;
}