.footer {
  height: 72px;
  margin: 10px auto 0 auto;
  width: 80%;
  min-width: 300px;
  box-sizing: border-box;
  color: #5b5b5b;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: space-around;
  border-top: #d9d9d9 1px solid;
  align-items: center;
}
.footer__item {
  text-decoration: none;
}
.footer__item:visited {
  color: #5b5b5b;
}
.footer__item:active {
  color: #5b5b5b;
}
@media (max-width: 850px) {
  .footer {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .footer__item {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .footer__item {
    font-size: 10px;
  }
}
